/* Colors from the logo:
   Charisma - rgb(27, 24, 64) 
   Tech - rgb(98, 85, 229)
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


h1 {
    padding-top: 20px;
    padding-bottom: 50px;
}

h2 {
    font-size: 60px;
    font-weight: 300;
}

.page-title {
    text-align: center;
    z-index: 1000;
}

.page-sub-title {
    text-align: center;
    line-height: 1.2em;
    z-index: 1000;
}

.summary {
    line-height: 1.5em;
    font-size: 20px;
    z-index: 1000;
    padding-top: 20px;
}

a {
    color: rgb(98, 85, 229);
    font-size: 24px;
    font-weight: 600;
}

a:hover,
a:focus {
    color: rgb(98, 85, 229);
    text-decoration: underline;
}

.linkHolder {
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.validationMessageBox {
    color: red;
    font-size: smaller;
    padding-top: 5px;
    margin-left: 10px;
}

/*Responsive generic styles*/

/*Desktop styles*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .page-sub-title {
        font-size: 25px;
    }
}

@media(min-width: 768px) {
    .page-sub-title {
        font-size: 36px;
    }

    .form-container {
        padding: 20px 150px 0px 150px;
    }
}


/*Mobile and Tablet Styles*/
@media(max-width: 768px) {
    h2 {
        font-size: 40px;
    }

    .page-sub-title {
        font-size: 20px;
    }

    .form-container {
        padding: 20px 0px 0px 0px;
    }
}

/*Form styles.*/

.form-section {
    background-color: #2a3335;
    background-image: url('../Images/envelopes.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25) inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #ffffff;
    padding: 100px 0px 105px 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.form-row {
    padding-bottom: 10px;
}

.row-submit {
    text-align: center;
    padding-bottom: 20px;
}

.btn-submit {
    background-color: rgb(98, 85, 229);
    border-color: rgb(98, 85, 229);
    line-height: 20px;
    letter-spacing: 1.6px;
    font-size: 20px;
    min-height: 47px;
    padding-right: 20px;
    padding-left: 20px;
}

    .btn-submit:hover {
        background-color: rgb(98, 85, 229);
        border-color: rgb(98, 85, 229);
    }

.empty-row {
    height: 2em;
}

.form-item {
    margin-bottom: 30px;
    min-height: 68px;
}

.form-elem {
    max-width: 100%;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
    border-width: 0px 0px 0px 0px;
    border-radius: 6px 6px 6px 6px;
    font-size: 16px;
    letter-spacing: 1px;
    min-height: 47px;
    padding: 6px 16px;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
}

    .form-elem::-webkit-input-placeholder {
        color: #ffffff;
    }

    .form-elem:focus {
        background-color: #ffffff;
        color: #333333;
    }

        .form-elem:focus::-webkit-input-placeholder {
            color: #333333;
        }

.text-area {
    height: 200px;
}

#response-message {
    min-height: 300px;
}

.form-response {
    color: #1ea9ce;
}

@media(min-width: 1440px) {
    .form-image {
        width: 394px;
        height: 259px;
    }

    .form-image {
        position: absolute;
        left: 1px;
        top: 750px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
    .image-elem {
        width: 300px;
        height: 150px;
    }

    .form-image {
        position: absolute;
        left: 10px;
        top: 820px;
    }
}

@media(max-width: 1024px) {
    .form-image {
        display: none;
    }
}
/*End form styles*/

/*Team Member styles*/
li.teamMember {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e2e2e2;
}

ul.list-unstyled li.teamMember:last-child {
    border-bottom: none;
}

.teamMemberImg {
    height: auto;
    width: 200px;
}

li.teamMember h2 {
    color: rgb(27, 24, 64);
    margin-top: 5px;
    font-size: 48px;
}

li.teamMember h3 {
    color: rgb(98, 85, 229);
}
/*End Team Member styles*/

/* Header styles */
img.logo {
    width: 300px;
    height: auto;
}

div.header-menu {
    background-color: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 10px;
    border: none;
}

div.header-menu .navbar-nav > li > a {
    color: rgb(27, 24, 64);
    font-size: 24px;
    text-transform: uppercase;
}

div.header-menu .navbar-nav > li > a:hover {
    color: rgb(98, 85, 229);
}

div.header-menu .menu-links {
    float: right;
}

@media (min-width: 1200px) {
    .container.header-container {
        max-width: 1400px;
    }
}

@media (min-width: 992px) {
    .container.header-container {
        max-width: 1400px;
    }
}

@media (min-width: 768px) {
    .container.header-container {
        max-width: 1400px;
    }
}
/* End Header styles */

/* Page elements styles */
.page-container {
    padding-top: 50px;
}

div.page-container h1 {
    padding-left: 10px;
    color: rgb(27, 24, 64);
}

p {
    color: rgb(27, 24, 64);
}
/* End Page elements styles */

/*TextComponent Style */
.component-section {
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25) inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 105px 0px;
}

.section-color-grey{
    background-color:#f7f7f7;
}

.section-color-light-blue {
    background-color: rgba(0,39,230,0.11);
}

.section-color-light-black {
    background-color: #2a3335;
    color: white;
}

.section-color-light-black p {
    color: white;
}

.section-color-light-purple {
    background-color: #F633FF;
}

/* Hero Component styles */
.hero-section {
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25) inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 0px 0px;
}

div.hero-component {
    height: 400px;
    width: 100%;        
}

h1.hero-title {
    z-index: 1000;
    color: white;
    padding-left: 120px;
    padding-top: 120px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
}
/* End Hero Component styles */

/* Footer styles */
footer p {
    font-size: 20px;
}
/* End Footer styles*/