/* Colors from the logo:
   Charisma - (238, 113, 38) 
   Tech - rgb(72, 38, 127)
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


h1 {
    padding-top: 20px;
    padding-bottom: 50px;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    color: rgb(238, 113, 38);
}

.page-title {
    text-align: center;
    z-index: 1000;
}

.page-sub-title {
    text-align: center;
    line-height: 1.2em;
    z-index: 1000;
    padding-bottom: 3%;
}

.summary {
    line-height: 1.5em;
    font-size: 20px;
    z-index: 1000;
    padding-top: 20px;
}

a {
    color: rgb(98, 85, 229);
    font-size: 24px;
    font-weight: 600;
}

    a:hover,
    a:focus {
        color: rgb(98, 85, 229);
        text-decoration: underline;
    }

.linkHolder {
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
}

.linkHolderWhite {
    text-align: center;
    text-transform: uppercase;
}

@media(min-width: 1024px) {
    .linkHolderWhite {
        padding-top: 5%;
    }
}

.btn-white {
    background-color: white;
    border-color: black;
    color: #2a3335;
    letter-spacing: 1.6px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

    .btn-white:hover {
        background-color: #2a3335;
        border-color: white;
        color: white;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.validationMessageBox {
    color: red;
    font-size: smaller;
    padding-top: 5px;
    margin-left: 10px;
}

/*Responsive generic styles*/
/*Mobile and Tablet Styles*/
@media(max-width: 320px) {
    div.hero-component {
        width: 120% !important;
    }
}

@media(max-width: 767px) {
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    .page-sub-title {
        font-size: 5%;
    }

    .form-container {
        padding: 20px 0px 0px 0px;
    }

    .form-section {
        background-size: 300px;
    }

    img.logo {
        width: 75px;
        height: 74px;
        box-sizing: border-box;
        padding-left: 75px;
        background: url("../Images/Logos/logo_mobile_resized.png") left top no-repeat;
        background-size: 75px 74px;
    }

    div.header-menu .navbar-nav > li > a {
        font-size: 14px;
    }

    div.hero-component {
        height: 100px;
    }

    h1.hero-title {
        font-size: 16px;  
        padding-top: 50px !important;
        padding-left: 25px !important;
    }

    .summary {
        line-height: 1.3em;
        font-size: 15px;
        z-index: 1000;
        padding-top: 10px;
    }
}

/*Desktop styles*/
/*@media(min-width: 768px) {
    .page-sub-title {
        font-size: 36px;
    }

    .form-container {
        padding: 20px 150px 0px 150px;
    }
}*/
@media(min-width: 1025px) and (max-width: 2500px) {
    .page-sub-title {
        font-size: 24px;
    }

    .form-container {
        padding: 20px 150px 0px 150px;
    }

    .form-section {
        background-size: 700px;
    }

    img.logo {
        width: 500px;
        height: 92px;
        box-sizing: border-box;
        padding-left: 500px;
        background: url("../Images/Logos/logo_desktop_resized.png") left top no-repeat;
        background-size: 500px 92px;
    }

    div.header-menu .navbar-nav > li > a {
        font-size: 24px;
    }

    div.hero-component {
        height: 350px;
    }

    h1.hero-title {
        font-size: 48px;
    }
}

@media(min-width: 2501px) {
    .page-sub-title {
        font-size: 36px;
    }

    .form-container {
        padding: 20px 150px 0px 150px;
    }

    .form-section {
        background-size: 700px;
    }

    img.logo {
        width: 500px;
        height: 92px;
        box-sizing: border-box;
        padding-left: 500px;
        background: url("../Images/Logos/logo_desktop_resized.png") left top no-repeat;
        background-size: 500px 92px;
    }

    div.header-menu .navbar-nav > li > a {
        font-size: 48px;
    }

    div.hero-component {
        height: 600px;
    }

    h1.hero-title {
        font-size: 72px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .page-sub-title {
        font-size: 25px;
    }

    .form-section {
        background-size: 500px;
    }

    img.logo {
        width: 200px;
        height: 81px;
        box-sizing: border-box;
        padding-left: 200px;
        background: url("../Images/Logos/logo_tablet_resized.png") left top no-repeat;
        background-size: 200px 81px;
    }

    div.header-menu .navbar-nav > li > a {
        font-size: 14px;
    }

    div.hero-component {
        height: 200px;
    }

    h1.hero-title {
        font-size: 36px;
    }
}

/*Form styles.*/

.form-section {
    background-color: #2a3335;
    /*background-image: url('../Images/envelopes.png');*/
    background-image: url('../Images/envelope.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    /*background-size: 700px;*/
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25) inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #ffffff;
    padding: 100px 0px 105px 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.form-row {
    padding-bottom: 10px;
}

.row-submit {
    text-align: center;
    padding-bottom: 20px;
}

.btn-submit {
    background-color: rgb(98, 85, 229);
    border-color: rgb(98, 85, 229);
    line-height: 20px;
    letter-spacing: 1.6px;
    font-size: 20px;
    min-height: 47px;
    padding-right: 20px;
    padding-left: 20px;
}

    .btn-submit:hover {
        background-color: rgb(98, 85, 229);
        border-color: rgb(98, 85, 229);
    }

.empty-row {
    height: 2em;
}

.form-item {
    margin-bottom: 30px;
    min-height: 68px;
}

.form-elem {
    max-width: 100%;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
    border-width: 0px 0px 0px 0px;
    border-radius: 6px 6px 6px 6px;
    font-size: 16px;
    letter-spacing: 1px;
    min-height: 47px;
    padding: 6px 16px;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
}

    .form-elem::-webkit-input-placeholder {
        color: #ffffff;
    }

    .form-elem:focus {
        background-color: #ffffff;
        color: #333333;
    }

        .form-elem:focus::-webkit-input-placeholder {
            color: #333333;
        }

.text-area {
    height: 200px;
}

#response-message {
    min-height: 300px;
}

.form-response {
    color: #1ea9ce;
}

@media(min-width: 1440px) {
    .form-image {
        width: 394px;
        height: 259px;
    }

    .form-image {
        position: absolute;
        left: 1px;
        top: 750px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
    .image-elem {
        width: 300px;
        height: 150px;
    }

    .form-image {
        position: absolute;
        left: 10px;
        top: 820px;
    }
}

@media(max-width: 1024px) {
    .form-image {
        display: none;
    }
}
/*End form styles*/

/*Team Member styles*/
li.teamMember {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e2e2e2;
}

ul.list-unstyled li.teamMember:last-child {
    border-bottom: none;
}

.teamMemberImg {
    height: auto;
    width: 200px;
}

li.teamMember h2 {
    color: rgb(27, 24, 64);
    margin-top: 5px;
    font-size: 48px;
}

li.teamMember h3 {
    color: rgb(98, 85, 229);
}
/*End Team Member styles*/

/* Header styles */
div.header-menu {
    background-color: #2a3335;
    padding-top: 40px;
    padding-bottom: 10px;
    border: none;
}

    div.header-menu .navbar-nav > li > a {
        color: rgb(27, 24, 64);        
        text-transform: uppercase;
    }

        div.header-menu .navbar-nav > li > a:hover {
            color: rgb(98, 85, 229);
        }

    div.header-menu .menu-links {
        float: right;
        padding-top: 1%;
    }

.navbar-toggle {
    background-color: rgb(98, 85, 229);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(98, 85, 229);
    border-color: #333333;
}

.container.header-container {
    max-width: 95%;
}
/* End Header styles */

/* Page elements styles */
.page-container {
    padding-top: 50px;
}

div.page-container h1 {
    padding-left: 10px;
    color: rgb(27, 24, 64);
}

p {
    color: rgb(27, 24, 64);
}
/* End Page elements styles */

/*TextComponent Style */
.component-section {
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25) inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.section-color-grey {
    background-color: #f7f7f7;
}

.section-color-light-white {
    background-color: rgb(238, 113, 38);
}

    .section-color-light-white h2, .section-color-light-white p {
        color: rgb(72, 38, 127); /** purple color from logo */
    }

.section-color-light-black {
    background-color: #2a3335;
    color: white;
}

    .section-color-light-black p {
        color: rgb(238, 113, 38); /** orange color from logo */
    }

.section-color-light-purple {
    background-color: #F633FF;
}
/*End Text Component styles*/

/*Team Component styles*/
.teamMemberImgComponent {
    width: 150px;
    border-radius: 80px;
}

.component-row {
    text-align: center;
    padding-bottom: 10px;
}

.team-function {
    color: rgb(72, 38, 127);
    text-transform: uppercase;
}

a.linkedin {
    background: transparent url(../Images/linkedin2.png) top left no-repeat;
    background-size: 40px;
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
}

a.email {
    background: transparent url(../Images/email2.png) top left no-repeat;
    background-size: 40px;
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
}

a.skype {
    background: transparent url(../Images/skype.png) top left no-repeat;
    background-size: 40px;
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
}

/*End team component styles*/
/* Hero Component styles */
.hero-section {
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25) inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    /*padding: 50px 0px 0px 0px;*/
}

div.hero-component {
    width: 100%;
}

h1.hero-title {
    z-index: 1000;
    color: white;
    padding-left: 5%;
    padding-top: 10%;
    text-transform: uppercase;   
    font-weight: bold;
}
/* End Hero Component styles */

/* Services COmponent styles*/
.service-image {
    max-width: 100%;
}

.col-md-4-custom {
    padding-left: 0px;
    padding-right: 0px;
}

.service-col {
    height: 16.5em;
}

@media(max-width: 1200px) {
    .service-col {
        height: 13.5em;
    }
}

div.col.service-col h3 {
    padding-top: 12%;
}

@media(max-width: 350px) {
    div.col.service-col h3 {
        padding-top: 1em;
    }

    .service-col {
        height: 10em;
    }

    .service-image {
        max-width: 75%;
    }

    .col-md-4-custom {
        margin-bottom: 0px;
    }
}

@media(min-width: 350px) and (max-width: 460px) {
    div.col.service-col h3 {
        padding-top: 11%;
    }

    .service-col {
        height: 9.5em;
    }

    .service-image {
        max-width: 65%;
    }
}

@media(min-width: 460px) and (max-width: 750px) {
    .service-col {
        height: 14em;
    }

    div.col.service-col h3 {
        padding-top: 9%;
    }

    .service-image {
        max-width: 65%;
    }
}

/* End of Services COmponent styles*/
/* Footer styles */
footer p {
    font-size: 20px;
}
/* End Footer styles*/
