@using CT.Website.Models;
@using CT.Website.Repositories;
@{
    ViewBag.Title = "Home Page";
    TextComponent aboutUs = TextComponentRepository.AboutUsComponent();
}
<div class="row">
    @{ Html.RenderPartial("~/Views/Components/TextComponent.cshtml", aboutUs); }
</div>
<div class="row">
    @{ Html.RenderAction("SendEmail", "ContactUs");}
</div>
