@using CT.Website.Models;
@using CT.Website.Repositories;
@{
    ViewBag.Title = "Home Page";
    TextComponent aboutUs = TextComponentRepository.AboutUsComponent();
    TextComponent ourServices = TextComponentRepository.OurServicesComponent();
    var teamMemberList = TeamMemberRepository.GetTeamMembers();
    var servicesList = ServiceRepository.GetServices();
}
<div class="row">
    @{ Html.RenderPartial("~/Views/Components/TextComponent.cshtml", aboutUs); }
</div>
<div class="row">
    @{ Html.RenderPartial("~/Views/Components/TeamComponent.cshtml", teamMemberList); }
</div>
<div class="row">
    @{ Html.RenderPartial("~/Views/Components/ServicesComponent.cshtml", servicesList); }
</div>
<div class="row">
    @{ Html.RenderPartial("~/Views/Components/TextComponent.cshtml", ourServices); }
</div>
<div class="row">
    @{ Html.RenderAction("SendEmail", "ContactUs");}
</div>
